{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
    <!-- 1 charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {%- if title -%}
        {{- title -}}
      {%- else -%}
        {{- meta.siteName -}}
      {%- endif -%}
    </title>

    <base href="{{ page.url }}" />

    <!-- 3 synchronous js  -->
    {% include "head/js-inline.njk" %}

    <!-- 4 schema settings -->
    {% include "head/schema.njk" %}

    <!-- 5 CSS  -->
    <!-- <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" /> -->
    {% include "head/css-inline.njk" %}

    <!-- 6 preloads  -->
    {% include "head/preloads.njk" %}

    <!-- 7 defer  -->
    {% include "head/js-defer.njk" %}

    <!-- 8 meta tags, icons, open graph etc.  -->
    {% include "head/meta-info.njk" %}
	
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body class="{{ layout }}">
    {% set indicateActiveHome %}
      {% if page.url == "/" %}
        aria-current=page
      {% endif %}
    {% endset %}
    {% include "partials/header.njk" %}
  
    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
    {%- if meta.easteregg -%}
      <script type="module" src="/assets/scripts/components/custom-easteregg.js"></script>
      <custom-easteregg></custom-easteregg>
    {%- endif -%}
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- START - We recommend to place the below code in head tag of your website html  -->
<style>
  @font-face {
    font-display: block;
    font-family: Roboto;
    src: url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/7529907e9eaf8ebb5220c5f9850e3811.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/normal/normal/25c678feafdc175a70922a116c9be3e7.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 600;
    src: url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/6e9caeeafb1f3491be3e32744bc30440.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/medium/normal/71501f0d8d5aa95960f6475d5487d4c2.woff) format("woff")
  }

  @font-face {
    font-display: fallback;
    font-family: Roboto;
    font-weight: 700;
    src: url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/3ef7cf158f310cf752d5ad08cd0e7e60.woff2) format("woff2"), url(https://assets.brevo.com/font/Roboto/Latin/bold/normal/ece3a1d82f18b60bcce0211725c476aa.woff) format("woff")
  }

  #sib-container input:-ms-input-placeholder {
    text-align: center;
    font-family: Futura, sans-serif;
    color: #c0ccda;
  }

  #sib-container input::placeholder {
    text-align: center;
    font-family: Futura, sans-serif;
    color: #c0ccda;
  }

  #sib-container textarea::placeholder {
    text-align: center;
    font-family: Futura, sans-serif;
    color: #c0ccda;
  }

  #sib-container a {
    text-decoration: underline;
    color: #e89e99;
  }
</style>
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<!--  END - We recommend to place the above code in head tag of your website html -->

<script>
  // Patch native elements with removeClass if jQuery isn't loaded
  if (!Element.prototype.removeClass) {
    Element.prototype.removeClass = function (cls) {
      this.classList.remove(cls);
    };
  }
</script>
<script src="https://sibforms.com/forms/end-form/build/main.js"></script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<link rel="stylesheet" href="https://sibforms.com/forms/end-form/build/sib-styles.css">
<script>
  function handleCaptchaResponse() {
    var event = new Event('captchaChange');
    document.getElementById('sib-captcha').dispatchEvent(event);
  }
</script>
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>
<!-- Start Patch Brevo Form -->
<script>
  const errorMessage = document.getElementById("error-message");
  const observer = new MutationObserver(() => {
    if (errorMessage.style.display === "block") {
      // Wait 1 second before showing it
      setTimeout(() => {
        errorMessage.style.opacity = 1;
      }, 1000);
    }
  });

  if (errorMessage) {
    errorMessage.style.opacity = 0;
    observer.observe(errorMessage, { attributes: true, attributeFilter: ['style'] });
  }
</script>
<!-- End Patch Brevo Form -->
  </body>
</html>
