<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">
        &copy; {% year %}
        <a href="/" {{ indicateActiveHome }}
          ><span class="font-display">{{ meta.siteName }}</span>
        </a>

        {% for item in navigation.bottom %}
          <a
            href="{{ item.url }}"
            {{
              helpers.getLinkActiveState(item.url,
              page.url)
              |
              safe
            }}
            >{{ item.text }}</a
          >
        {% endfor %}
      </nav>

	
      <nav class="cluster" aria-label="{{ meta.navigation.ariaPlatforms }}">
        <!-- gets the first item from the feed loop set in meta -->
        <a href="{{ meta.blog.feedLinks[0].url }}" rel="alternate" type="{{ meta.blog.feedLinks[0].type }}">
          <span class="visually-hidden">{{ meta.blog.feedLinks[0].title }}</span>
          {% svg "misc/rss" %}
        </a>

        {% for key, value in personal.platforms %}
          {% if value != "" %}
            <!-- regular platforms -->
            <a class="no-indicator" href="{{ value }}" rel="me">
              <span class="visually-hidden">{{ key | capitalize }}</span>
              {% svg 'platform/' + key %}
            </a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </div>
  <script>
  function handleCaptchaResponse() {
    var event = new Event('captchaChange');
    document.getElementById('sib-captcha').dispatchEvent(event);
  }
</script>
    {% include 'partials/theme-switch.njk' %}
	
	<!-- START - We recommend to place the below code in footer or bottom of your website html  -->
<script>
  window.REQUIRED_CODE_ERROR_MESSAGE = 'Please choose a country code';
  window.LOCALE = 'en';
  window.EMAIL_INVALID_MESSAGE = window.SMS_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";

  window.REQUIRED_ERROR_MESSAGE = "This field cannot be left blank. ";

  window.GENERIC_INVALID_MESSAGE = "The information provided is invalid. Please review the field format and try again.";

  window.translation = {
    common: {
      selectedList: '{quantity} list selected',
      selectedLists: '{quantity} lists selected',
      selectedOption: '{quantity} selected',
      selectedOptions: '{quantity} selected',
    }
  };

  var AUTOHIDE = Boolean(0);
</script>

<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>

<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>

<!-- END - We recommend to place the above code in footer or bottom of your website html  -->
<!-- End Brevo Form -->

</footer>
